/* co-curriculam activities page desgine */
.alumni-container {
  padding: 20px;
  background-color: #89d4cf;
  background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
  color: antiquewhite;
}
.debate-club {
  padding: 25px;
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  color: azure;
}
